<header>
  <a href="https://helpper.com.br/a-helpper/" target="_blank">
    <img
      src="https://helpper.com.br/img/logos/helpper-logo.png"
      alt="logo helpper"
    />
  </a>
  <p>Teste para o programa de estágio <span>Helpper</span></p>
</header>